---
export interface Props {
  date: string;
  dateLabel?: string;
  title: string;
  href?: string;
  tags?: string[];
}

const {
  date,
  dateLabel = date,
  title,
  href = "#",
  tags = []
} = Astro.props;
---

<article class="rounded-[10px] border border-gray-200 bg-white px-4 pt-12 pb-4">
  <time datetime={date} class="block text-xs text-gray-500">
    {dateLabel}
  </time>

  <a href={href}>
    <h3 class="mt-0.5 text-lg font-medium text-gray-900">
      {title}
    </h3>
  </a>

  {tags.length > 0 && (
    <div class="mt-4 flex flex-wrap gap-1">
      {tags.map(tag => (
        <span class="rounded-full bg-purple-100 px-2.5 py-0.5 text-xs whitespace-nowrap text-purple-600">
          {tag}
        </span>
      ))}
    </div>
  )}
</article>
